*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weathermap{
    
}

.input{
    text-align: center;
    margin: 100px 0px;
    height: 100px;
    padding: 20px;
}

input[type="text"]{
    height: 50px;
    width: 500px;
    background: rgb(189, 188, 188);
    border: none;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.button{
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.display{
    text-align: center;

}